.posts {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  li {
    margin: 1rem;
    width: 25%;
    a {
      color: black;
      display: block;
      padding: 1rem;
      text-decoration: none;
      transition: all 0.25s;
      div {
        min-height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
  h2 {
    margin-bottom: 0;
    background-color: rgb(182, 0, 0);
    width: fit-content;
  }
  p {
    color: white;
    background: black;
    width: fit-content;
    padding: 10px;
    font-size: 0.8rem;
    margin-top: 1rem;
    font-style: italic;
  }
}
