@import "../../styles/vars.scss";
.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
  display: block;
  text-align: center;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  justify-content: flex-start;
  li {
    font-size: 0.9rem;
    margin-right: 20px;
    .active-nav-item {
      color: $secondary;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: $secondary;
      }
    }
  }
}
